body{
    background-color: rgb(248, 245, 238);
}

.carousel {
    height: 600px;
}

.carousel img {
    height: 600px;
    object-fit: cover;
}

.carousel-text{
    position: absolute;
    bottom: 15%;
    left: 10%; 
    background-color: rgba(44, 62, 80, 0.8);
    color: rgb(221, 235, 222);
    transform: translate(0,-250px); 
    padding: 3rem 2rem;
    font-size: 2rem;
    border-radius: 8px;
    text-align: center;
    width: 80%;
}

footer{
    background-color: #2b3035;
    padding: 20px 0;
    color: white
}

.card {
    width: 18rem;
    height: 620px;
    margin: 0 auto;
    text-align: center;
    font-style: oblique;
    color: rgb(110, 92, 75);
    ;
}
/*
.card img {
    height: 400px;
    width: 150px;
    margin: 0 auto;
}*/
.card img {
  width: 100%;          /* Ocupa todo el ancho de la tarjeta */
  height: 350px;         /* Dale la altura que quieras en px o % */
  object-fit: cover;    /* Corta y ajusta la imagen sin deformarla */
  object-position: center; /* Centra la imagen para que no se corten las caras */
  margin: 0 auto;
}

#carrito-container .card {
    width: 100%;
    max-width: 100%;
    margin: 0;
    text-align: left;
    font-style: normal;
}

#carrito-container .card img {
    height: auto;
    width: 100%;
    margin: 0;
}

.destacado{
    color: rgb(8, 7, 7);
    text-align: center;
}

#titulo{
    font-size: 20px;
    text-align: center;
}

h1{
    color: black;
    text-align: center;

}

.mensaje-carrito {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #30ee0a;
    color: white;
    padding: 24px 50px;
    border-radius: 28px;
    font-size: 36px;
    font-weight: bold;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}